<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>La commande  n°<%= @order.id %> a été passée!</h1>

    <p>détails de la commande </p>
    <ul>
      <li>Pour un total de : <%= @order.total_order %> </li>
      <li>Mail du client : <%= @order.user.email %> </li>
    </ul>

  </body>
</html>