<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut  et merci pour votre commande <%= @order.id %> !</h1>
    
    <h3>Voici votre commande : </h3>
    <div>
        <ul>
            <% @order.selections.each do |selection| %>
            <li style="text-decoration: none;">
              <img src="<%=selection.item.image_url%>" alt="test" >
            </li>
            
            <% end %>
        </ul>
    </div>

    <h5> À très vite sur monsite.fr ! </h5>

  </body>
</html>

