<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut et merci pour votre commande <%= @order.id %> !</h1>
    
    <h3>Voici votre commande : </h3>
    <div>
        <ul>
            <% @order.selections.each do |selection| %>
            <li style="text-decoration: none;">
              <%= image_tag selection.item.image_url, alt: 'photo de chat', class: 'w-100' %>
            </li>
            
            <% end %>
        </ul>
    </div>

    <p>N'oublies pas de cliquer sur "Afficher les images" pour récupérer les images ! :) </p>

  </body>
</html>

