
<body class="min-vh-100 d-flex flex-column justify-content-between">
  <div class="container-fluid">

      <div class="card p-2">
        <div class="card-body text-center">
          <h2 class="text-primary">L'équipe Cat-Alogue</h2>

<div class="d-md-flex flex-md-equal">
    <div class="bg-light col-6 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Paul Durant</h2>
        <p class="lead">Photographe depuis une vingtaine d’années</p>
        
      </div>
      <div class="team_1 bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-light col-6 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Lucie Martin</h2>
        <p class="lead">Commerciale et passionnée de nos amis félins</p>
      </div>
      <div class="team_2 bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>

        </div>
      </div>        

  </div>

</body>




